services:
  react_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: electricstore_fe
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
