/* src/components/Header.module.css */
.header {
  background-color: #1976d2;
}

.logo {
  flex-grow: 1;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
} 

.searchInput {
  margin-right: 20px;
  background-color: white;
  border-radius: 20px;
}

.searchButton {
  border-radius: 25px;  
  padding: 6px 16px;
}

.userActions {
  display: flex;
  align-items: center;
}

.loginButton{
  margin-right: 10px;
  color: white;
}

.cartButton {
  margin-left: 10px;
  position: relative;
}

.cartBadge {
  background-color: #e91e63;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
  position: absolute;
  top: -10px;
  right: -10px;
  min-width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.dropdownMenu {
  margin-top: 8px;
}

.logoutItem {
  color: #d32f2f;
}